PMR window: properly handle JSON responses from PMR

This is because the format of a particular response has changed. The format of some other PMR responses has also changed, but they don't result in OpenCOR crashing.

Still, OpenCOR should never crash. If anything, it should let the user know that a PMR response does not have the expected format.

I agree that not crashing is good and the response should always be checked rather than assumed to be a particular format of JSON. But the versioning of the PMR JSON mime type (if thats the right term  @metatoaster?) should ensure that the format of the resulting JSON string should not change without specifically bumping to a new version.

Essentially.  Using `application/json` will always point at the latest version, otherwise use `application/vnd.physiome.pmr2.json.1`. For stability, use the specifically family of API (the number suffix) and the version parameter if you would want to access latest version (currently, it is `application/vnd.physiome.pmr2.json.1; version=2`)

I do strive to make no breaking changes to the API once deployed to production.  New items/keys *may* show up but under standard usage the current users would have ignored the new items/keys anyway thus they are permitted under the no breakage policy.

FWIW, OpenCOR currently uses ```application/vnd.physiome.pmr2.json.1```, as @metatoaster once advised me to do. I wasn't aware of (didn't remember aboutt?)  the ```version``` bit, so does it mean that I ought to use ```application/vnd.physiome.pmr2.json.1;version=2```?

Thinking more about all of this, it would be really nice if we could 100% trust a given version of the API (which I understand should already be the case even though I don't understand why things are currently breaking for me). Indeed, to check that a JSON response is of the expected format means that the code is going to be much more 'complex' while it's currently very simple to extract whatever is needed from a JSON response (see [here](https://github.com/opencor/opencor/blob/0324f36ac4224fc92ffd1461feb4a72292d6b459/src/plugins/organisation/PhysiomeModelRepositoryWindow/src/physiomemodelrepositorywindowwindow.cpp#L363) for example).

> so does it mean that I ought to use application/vnd.physiome.pmr2.json.1;version=2?

Not really, but you did want a better format for the listing 

```
$ curl -sH 'Accept: application/vnd.physiome.pmr2.json.1;version=1' https://models.physiomeproject.org/e/ | python -mjson.tool |head -n50
{
    "collection": {
        "href": "https://models.physiomeproject.org/e/listing/pmr1_folder_listing",
        "version": "1.0",
        "links": [
            {
                "href": "https://models.physiomeproject.org/e/105",
                "prompt": "\r\n      A Quantitative Model of Human Jejunal Smooth Muscle Cell Electrophysiology\r\n    ",
                "rel": "bookmark"
            },
            {
                "href": "https://models.physiomeproject.org/e/27d",
                "prompt": "\r\n      An analysis of deformation-dependent electromechanical coupling in the mouse heart\r\n    ",
                "rel": "bookmark"
            },
            ...
```
vs

```
$ curl -sH 'Accept: application/vnd.physiome.pmr2.json.1;version=2' https://models.physiomeproject.org/e/ | python -mjson.tool |head -n50 
{
    "collection": {
        "href": "https://models.physiomeproject.org/e/listing/pmr1_folder_listing",
        "items": [
            {
                "href": "https://models.physiomeproject.org/e/59",
                "data": [
                    {
                        "prompt": "Title",
                        "name": "title",
                        "value": "[Ca2+]i oscillations in sympathetic neurons: an experimental test of a theoretical model"
                    }
                ],
                "links": [
                    {
                        "href": "https://models.physiomeproject.org/workspace/friel_1995",
                        "prompt": "Workspace",
                        "rel": "source"
                    }
                ]
            },
            {
                "href": "https://models.physiomeproject.org/e/c5",
                "data": [
                    {
                        "prompt": "Title",
                        "name": "title",
                        "value": "A model for pacemaking in substantia nigra neurons (A simple model based on a spherical geometry)"
                    }
                ],
                "links": [
                    {
                        "href": "https://models.physiomeproject.org/w/febefrancis/francis_garcia_middleton_2012",
                        "prompt": "Workspace",
                        "rel": "source"
                    }
                ]
            },
            ...
```

Where the listing represent each individual items as such rather than simply linking to them.

You should familiarize yourself with [`Collection+JSON`](http://amundsen.com/media-types/collection/format/) first.

What the Collection+JSON API tells you is things about what `items` that this end point knows about, and each element has a `href` (its url), associated `data`, which are attributes/fields associated with this `href`, and other `links` that it might know of.  The `links` are of note simply because they also have a `href`, but with an associated `rel` that represents a relationship as specified in [RFC 5988, section 6.2.2](https://tools.ietf.org/html/rfc5988#section-6.2.2) (though this is not exhaustive).  So from an `Exposure` or `ExposureFile`, it makes perfect sense to link using rel, and the `prompt` attribute is a human readable attribute that further clarifies what that resource means..

Now, for a `Workspace`, that's a lot different

```
$ curl -sH 'Accept: application/vnd.physiome.pmr2.json.1;version=1' https://models.physiomeproject.org/workspace/friel_1995 |python -mjson.tool
{
    "collection": {
        "href": "https://models.physiomeproject.org/workspace/friel_1995/workspace_view",
        "items": [
            {
                "href": "https://models.physiomeproject.org/workspace/friel_1995",
                "data": [
                    {
                        "name": "id",
                        "value": "friel_1995"
                    },
                    {
                        "name": "owner",
                        "value": "admin"
                    },
                    {
                        "name": "description",
                        "value": null
                    },
                    {
                        "name": "storage",
                        "value": "git"
                    }
                ],
                "links": []
            }
        ],
        "version": "1.0"
    }
}
```

Simply, it only knows about one item (itself) because note that in `items` it only contain _one_ element, and the `href` for that is equal to the url used to retrieve it.  Also, it has a `data` with `name` `storage` and a `value` of `git`, denoting this to be a git backed storage, which you can use `git clone` on.  It makes little sense for the `Workspace` to link back to itself, because the links it contains could be any exposure files.

Again, I really *really* **really** want to emphasize the fact that this API is meant for human friendliness, and also easy to use with a decent `JSON` parser and a generalized Collection+JSON parser in your language (i.e. know how to turn the `data` attributes into a `map` or `hashtable` in your language (i.e. access attributes by doing `data['storage']`)). Your current way of your accessing of the API is simply improper - if you want to be sure that the URL is a git repository, you need to check for a `data` attribute `storage` with the `value` of `git`. The `href` will then be a `Workspace`, which then you can clone.  This part is guaranteed, everything else (i.e. how the current haphazard way of accessing the values now) is not guaranteed to be stable because you should never derive semantic meaning from the URL **or** the JSON response alone - they work together in this case.

Also, more to this.

From an Exposure

```
        "links": [
            ...
            {
                "href": "https://models.physiomeproject.org/workspace/friel_1995",
                "prompt": "Workspace URL",
                "rel": "via"
            }
```

While in its `links` section, the prompt show that the `href` is a `Workspace URL`, it doesn't actually tell you that it is a `git` repo. Let me remind you that PMR2 once supported `mercurial`, so which is why you need to verify that by fetching that `href`, then check whether if it contains an `item` with the same `href` and check that there is a `data` element that show that its `storage` is `git`, if what I already explained wasn't clear enough.

Furthering to the email, I want to point out that I finally noted what started this confusion.  The response for an `Exposure` doesn't provide all the `ExposureFile` within as `items` but simply as links, and with the additional source `Workspace` link provided (https://github.com/PMR2/pmr2.json/commit/8d6caabe8cfef72aec9a7fab6f09cfeaf132ca30) it will result in a `href` that will return something different, resulting in this particular breakage from this naive usage. 

That said, if you were to further move along to do `git clone` on git sources, please keep the verbose explanation above in your mind, as that is the canonical way to access them (and I really thought this was your problem, but from the further email exchanges you showed that it was really about exposures and not workspaces).

> Where the listing represent each individual items as such rather than simply linking to them.

Indeed, I remember now. However, it proved twice as long to fetch all the exposures, so in the end I decided against using it the second version and stick to the first version, which I understand is also the default version. I think I am going to using that default version.

> You should familiarize yourself with [`Collection+JSON`](http://amundsen.com/media-types/collection/format/) first.

Thanks, it's very useful. Among other things, it will help me implementing a way to check that the JSON response is in the format I would expect.

> Your current way of your accessing of the API is simply improper - if you want to be sure that the URL is a git repository, you need to check for a `data` attribute `storage` with the `value` of `git`. The `href` will then be a `Workspace`, which then you can clone.  This part is guaranteed, everything else (i.e. how the current haphazard way of accessing the values now) is not guaranteed to be stable because you should never derive semantic meaning from the URL **or** the JSON response alone - they work together in this case.

Ok, it's really all starting to make sense now and I know understand that I should indeed check that a workspace can be Git cloned.

This is going to involve quite a bit of reworking at my end, but it is certainly going to improve things in the long term.

> Furthering to the email, I want to point out that I finally noted what started this confusion.  The response for an `Exposure` doesn't provide all the `ExposureFile` within as `items` but simply as links, and with the additional source `Workspace` link provided (PMR2/pmr2.json@8d6caab) it will result in a `href` that will return a different kind of response body (i.e. one for `Workspace`), resulting in this particular breakage from this naive usage. 

Yes, I can see that now...

Ok, thanks a lot for all the clarifications and references. Now time to do things the proper way! :)